@page "/"

<div class="main">
    <div class="container">
        <div class="intro">
            <div class="avatar">
                <a href="javascript:;"><img src="/images/header.jfif" /></a>
            </div>
            <div class="nickname">Sinno</div>
            <div class="description">
                <p>
                    一个男孩要走过多少路才会成为真正的男人。
                    How many roads must a man walk down，Before they call him a man.
                </p>
            </div>
            <div class="links">
                <NavLink class="link-item" title="Posts" href="posts">
                    <i class="iconfont iconread"></i>
                </NavLink>
                <NavLink target="_blank" class="link-item" title="Notes" href="#">
                    <i class="iconfont iconnotes"></i>
                </NavLink>
                <NavLink target="_blank" class="link-item" title="API" href="#">
                    <i class="iconfont iconapi"></i>
                </NavLink>
                <NavLink class="link-item" title="Manage" href="/account/auth">
                    <i class="iconfont iconcode"></i>
                </NavLink>
                <NavLink target="_blank" class="link-item" title="Github" href="#">
                    <i class="iconfont icongithub"></i>
                </NavLink>
            </div>
        </div>
    </div>
</div>